// CUSTOM FONTS
$font-family-sans-serif: "Roboto Mono", monospace;

// CUSTOM COLORS
$primary: #1A3044;
$secondary: #98f7d7;
$success: #2D5E38;
$info: #AEEEF7;
$danger: #763E3E;
$warning: #FFE03A;

// Carousel
$carousel-control-color: $secondary;
$carousel-control-opacity: .7;
$carousel-control-icon-width: 5rem;
$carousel-control-width: 5%;


// BOOTSTRAP ORIGINAL FILES
@import "../bootstrap-5.0.0-beta3/scss/bootstrap.scss";